@media (min-width:0px) and (max-width:450px) {
    .CartInfo {
      width: 95%;
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (min-width:451px) and (max-width:850px) {

    .CartInfo {
      width: 80%;
    }
  }
  
  @media (max-width:2450px) and (min-width:851px) {

    .CartInfo {
      width: 70%;
    }
  }

.CartInfo{
    height: 35%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2%;
    align-content: baseline;
}
.CartInfo .CategoryListContainer{
    min-width: 17%;
    height: 95%;
    margin: 0 .5%;
    overflow-y: hidden;
    font-size:  var(--small-font);
    text-align: center;
    box-shadow: 0 0 4px 0 #333;
}
.CartInfo .categoryNameP{
    margin-block: 0;
    width: 100%;
    padding: 2px 0;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: var(--small-font);

}